<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/account">My Account</a>
    </nav>

    <div class="main">
      <h1>Task 1: Unprotected admin functionality</h1>
      <p>
        The target web application has an unprotected admin panel. Solve this
        task by deleting one of the users from the admin panel.
      </p>
    </div>
    <br />

    <script defer src="./js/script.js"></script>
  </body>
</html>
